@font-face {
    font-family: Mukta-ExtraLight;
    src: url(assets/fonts/Mukta-ExtraLight.ttf);
}
@media (max-widtch: 768px) {
    .section {
        width: 100%;
    }
}
body {
    font-family: 'AbrilFatface-Regular';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color:honeydew;
}
html {
    height: 100%;
}
* {
    box-sizing: border-box;
}

* h1 {
    font-size: 40px;
}
* h2 {
    font-size: 25px;
}
* h3 {
    font-size: 25px;
}

.main-conteiner {
    max-width: 1440px; 
    margin: 0 auto; 
    padding: 15px; 
    flex-wrap: wrap; 
}
.section {
    width: 50%;
}

#profile {
    text-align: center;
    margin-top: 80px;
    margin-left: 100px;
}
#profile-title {
    text-align: center;
    margin-top: -230px;
    margin-right: 300px;
    margin-bottom: 180px;
    margin-left: 700px;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    align-items: center;
    list-style: none;
    font-size: 19px;
    background-color:cadetblue;
    height: 50px;
}

.header {
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

#contacts {
    text-align: left;
    margin-left: 300px;
    font-size: 20px;
    line-height: 1.5;
}

#about-me {
    text-align: left;
    text-align: justify;
    margin-top: -150px;
    margin-left: 800px;
    width: 500px;
    height: 200px;
    font-size: 20px;
    line-height: 1.5;
}

#skills {
    text-align: left;
    margin-top: 100px;
    margin-left: 300px;
    font-size: 20px;
    line-height: 1.5;
}

#code-example {
    text-align: left;
    margin-top: -180px;
    margin-left: 800px;
    font-size: 20px;
}

#projects {
    text-align: left;
    margin-top: 100px;
    margin-left: 300px;
    font-size: 20px;
    text-decoration: none;
}

#education {
    text-align: left;
    margin-top: -100px;
    margin-left: 800px;
    font-size: 20px;
}

#languages {
    text-align: left;
    margin-top: 100px;
    margin-left: 300px;
    font-size: 20px;
    line-height: 1.5;
}

footer {
    display: flex;
    position: relative;
    justify-content:space-evenly;
    bottom: 0%;
    background-color:cadetblue;
    margin-top: 50px;
}
